.resultValue {
    font-family: monospace;
}

.my-content-fit {
    width: fit-content !important;
}

.margin-y-axis {
    margin: auto 0;
}

.buttonCalc {
    min-width: 4rem;
}

.bigButtonCalc {
    min-width: 8.2rem;
}

@media screen and (max-width:400px){

    .buttonCalc {
        min-width: 3.2rem;
    }

    .bigButtonCalc {
        min-width: 6.6rem;
    }
}
