.resultValue {
    font-family: monospace;
}

.my-content-fit {
    width: 22.3rem !important;
}

.margin-y-axis {
    margin: auto 0;
}

.buttonCalc {
    min-width: 4rem;
}

.bigButtonCalc {
    min-width: 8.2rem;
}

@media screen and (max-width:400px){

    .my-content-fit {
        width: 18.3rem !important;
    }

    .buttonCalc {
        min-width: 3.2rem;
    }

    .bigButtonCalc {
        min-width: 6.6rem;
    }
}
